html,
body {
    overflow-x: hidden !important;
    margin:0 auto;
    width: 100vw;
}

.img-container {
    width: fit-content;
overflow-x: hidden;
}

.background-image {
    opacity: 0.9;
    filter: blur(2px);
        overflow-x: hidden;
    z-index: -1;
    position: absolute;
    width: 100vw;
    min-width: 70rem;
    height: auto;
}

header {
    background-color: black; color: aliceblue; font-style: italic;
    display:    flex;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    width: 100%;

    min-width: fit-content;
    gap: 2rem;
}

.menu {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    gap: 3rem;
    align-items: end;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.menu div:first-child {
    width: 5rem; height: 1rem;
}